<div class="container">
  <ul class="nav navik">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive='active'>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/features" routerLinkActive='active'>Features</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/docs" routerLinkActive='active'>Docs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
  </li>
</ul>
</div>
<router-outlet></router-outlet>